* {
    cursor: default;
}

body {
    background-color: #0A0A0A;
    color: #FFF;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section {
    margin: auto;
}

.container {
    width: 1112px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #FFF;
}

.nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    display: none;
}

.menu-burger__checkbox {
    display: none;
}

.menu-burger__nav {
    display: none;
}

.nav img:hover {
    cursor: pointer;
}

.nav__text {
    font-size: 12px;
    transition: 0.2s ease;
}

.nav__text:hover {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

.nav__href {
    cursor: pointer;
}

.faq {
    margin-top: 45px;
    position: relative;
}

.faq::after {
    content: url(/img/backFaq.png);
    top: -102px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: -999;
}

h2 {
    text-align: center;
    color: #FFA500;
    font-size: 33.274px;
    font-weight: 700;
}

.faq__title {
    width: 73px;
    display: block;
    margin: auto;
}

.faq-card {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.faq-card__item {
    width: 538px;
    height: 99px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
    -moz-border-image: -moz-linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
    -webkit-border-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
    border-image-slice: 1;
    align-items: center;
    margin-top: 25px;
    transition: 0.5s ease;
    position: relative;
    cursor: pointer;
}

.faq-card__item span {
    max-width: 470px;
    display: block;
    font-size: 25.181px;
    text-align: left;
    padding-left: 21px;
    cursor: pointer;
}

.faq-card__item::after {
    content: url(/img/arrow.svg);
    display: block;
    position: absolute;
    top: 37.5px;
    right: 23px;
}

.faq-card__item:hover {
    transition: 0.5s ease;
    background: linear-gradient(268deg, #FFA500 0%, #FFB800 100%);
}

.questions {
    padding-top: 150px;
}

.questions__title span {
    color: #FFF;
}

.questions__form {
    padding-top: 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    cursor: pointer;
    outline: none;
}

.form__input {
    width: 307px;
    height: 58px;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #0A0A0A;
    color: #FFF;
    text-align: center;
    font-size: 26.656px;
    background: linear-gradient(#FFA500, #FFFFFF, #FFFFFF);
    box-shadow: inset 0px 0px 0px 100vw #0A0A0A;
    background-size: 101%;
    background-position: left -1px top 0px;
    /* border-image: linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
    -moz-border-image: -moz-linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
    -webkit-border-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
    border-image-slice: 1; */
}

.form__number {
    margin-left: 24px;
    position: relative;
    text-align: left;
}

.form__therms {
    margin: auto;
    width: 455px;
}

.form__therms span {
    padding-left: 5px;
    font-size: 16px;
}

.form__checkbox {
    margin: auto;
    margin-top: 24px;
}

.btn:hover {
    cursor: pointer;
}

footer {
    padding-bottom: 24px;
}

.form__btn {
    margin: auto;
    width: 256px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid #FFF;
    background: linear-gradient(268deg, #FFA500 0%, #FFC700 100%);
    font-size: 17.35px;
    margin-top: 24px;
}

.fproducers {
    padding-top: 150px;
}

.fproducers__title {
    text-align: left;
}

.fproducers__title span {
    color: #FFF;
}

.fproducers__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
}

.fproducers__btn {
    max-width: 380px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid #FFF;
    background: linear-gradient(268deg, #FFA500 0%, #FFC700 100%);
    font-size: 17.35px;
}

.fproducers p {
    text-align: center;
    padding-top: 32px;
    color: #FFF;
    font-size: 16px;
    line-height: 26.586px;
}

@media (max-width: 1170px) {
    .fproducers__block {
        flex-wrap: wrap;
        align-items: center;
    }

    .fproducers__title {
        max-width: 1000px;
        text-align: center;
    }

    .fproducers__btn {
        margin-top: 24px;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 990px;
    }

    .faq::after {
        left: 51%;
    }

    .faq-card {
        justify-content: center;
    }

    .fproducers__block {
        margin: 0px;
    }

    .fproducers__block {
        flex-wrap: wrap;
        align-items: center;
    }

    .fproducers__title {
        text-align: center;
    }

    .fproducers__btn {
        margin-top: 24px;
    }
}

@media (max-width: 880px) {
    .container {
        max-width: 880px;
    }

    .nav {
        display: none;
    }

    .mobile-menu {
        transition: 0.5s ease;
    }

    .mobile-menu--active {
        position: fixed;
        margin: auto;
        background: #FFA500;
        min-width: 100%;
        height: 100vh;
        z-index: 99999;
        transition: 0.5s ease;
        top: 0px;
    }

    .mobile-menu__block {
        margin: auto;
        width: 400px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        transition: 0.5s ease;
    }

    .mobile-menu__row1st,
    .mobile-menu__row2nd {
        width: 120px;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .mobile-menu__block span a {
        color: #0A0A0A;
    }

    .menu-burger__nav {
        width: 40px;
        height: 40px;
        color: #FFA500;
        display: block;
        margin: auto;
        margin-top: 24px;
        transition: 0.2s ease;
        z-index: 9999999;
        position: relative;
    }

    .menu-burger__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .menu-burger__icon {
        position: relative;
        height: 3px;
        width: 100%;
        margin: auto;
        background: #FFA500;
        transition: 0.2s ease;
    }

    .menu-burger__icon::before,
    .menu-burger__icon::after {
        position: absolute;
        height: 3px;
        width: 100%;
        margin: auto;
        background: #FFA500;
        transition: 0.2s ease;
    }

    .menu-burger__icon::before,
    .menu-burger__icon::after {
        content: " ";
    }

    .menu-burger__icon::before {
        top: 10px;
    }

    .menu-burger__icon::after {
        bottom: 10px;
    }

    .mobile-menu--active {
        display: block;
    }

    .faq::after {
        display: none;
    }

    .fproducers__title {
        max-width: 800px;
        text-align: center;
        text-wrap: wrap;
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon {
        background: transparent;
        transition: 0.2s ease;
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::before,
    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::after {
        top: 0;
        transition: 0.2s ease;
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::after {
        transition: 0.2s ease;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::before {
        transition: 0.2s ease;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .menu-burger__nav--active .menu-burger__icon::after,
    .menu-burger__nav--active .menu-burger__icon::before {
        background: #0A0A0A;
    }

}

@media (max-width: 650px) {

    .container {
        max-width: 650px;
    }

    .mobile-menu--active {
        position: fixed;
        margin: auto;
        background: #FFA500;
        min-width: 100%;
        height: 100vh;
        z-index: 99999;
        transition: 0.5s ease;
        top: 0px;
    }

    .mobile-menu__block {
        margin: auto;
        width: 400px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        transition: 0.5s ease;
    }

    .mobile-menu__row1st,
    .mobile-menu__row2nd {
        width: 120px;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .mobile-menu__block span a {
        color: #0A0A0A;
    }

    .menu-burger__nav {
        width: 40px;
        height: 40px;
        color: #FFA500;
        display: block;
        margin: auto;
        margin-top: 24px;
        transition: 0.2s ease;
        z-index: 9999999;
        position: relative;
    }

    .menu-burger__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .menu-burger__icon {
        position: relative;
        height: 3px;
        width: 100%;
        margin: auto;
        background: #FFA500;
        transition: 0.2s ease;
    }

    .menu-burger__icon::before,
    .menu-burger__icon::after {
        position: absolute;
        height: 3px;
        width: 100%;
        margin: auto;
        background: #FFA500;
        transition: 0.2s ease;
    }

    .menu-burger__icon::before,
    .menu-burger__icon::after {
        content: " ";
    }

    .menu-burger__icon::before {
        top: 10px;
    }

    .menu-burger__icon::after {
        bottom: 10px;
    }

    .mobile-menu--active {
        display: block;
    }

    .faq::after {
        display: none;
    }

    .fproducers__title {
        max-width: 800px;
        text-align: center;
        text-wrap: wrap;
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon {
        background: transparent;
        transition: 0.2s ease;
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::before,
    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::after {
        top: 0;
        transition: 0.2s ease;
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::after {
        transition: 0.2s ease;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .menu-burger__checkbox:checked~.menu-burger__btn .menu-burger__icon::before {
        transition: 0.2s ease;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .menu-burger__nav--active .menu-burger__icon::after,
    .menu-burger__nav--active .menu-burger__icon::before {
        background: #0A0A0A;
    }

    .questions__form {
        margin: auto;
        max-width: 600px;
        flex-wrap: wrap;
    }

    .form__number {
        margin: 0px;
        margin-top: 15px;
    }

    .fproducers__block {
        margin: 0px;
    }

    .fproducers__title {
        max-width: 600px;
    }

    .questions,
    .fproducers {
        padding-top: 70px;
    }
}

@media (max-width: 500px) {
    .container {
        max-width: 500px;
    }

    .faq-card__item {
        max-width: 450px;
    }

    .faq-card__item span {
        max-width: 400px;
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    .faq-card__item {
        max-width: 300px;
    }

    .faq-card__item span {
        max-width: 260px;
        font-size: 14px;
    }

    .questions__title {
        font-size: 24px;
    }

    .fproducers__title {
        font-size: 24px;
    }

    .form__therms {
        width: 280px;
    }

    .btn {
        font-size: 14px;
        text-align: center;
    }

    .fproducers__btn {
        max-width: 280px;
    }

    .form__input {
        font-size: 20px;
        text-align: center;
    }

    .mobile-menu__block {
        max-width: 280px;
    }

    .form__input {
        max-width: 280px;
    }

}